@charset "UTF-8";

.con{
		text-align: center;
	}
	.con1{
		font-weight: bold;
	}
	.button3{
		height: 40px;
		width: 800px; 
		margin-left: 200px;
		
	}
	
	.dp{
		padding-left: 70px;
		padding-right: 70px;
	}
	.d{
		display: inline-block;
	}
	.h1{
		text-align: center;
		padding-top: 50px;
	}
	.noti{
		padding-top: 100px;
	}
	.up{
		
		margin-bottom: 50px;
	}
	
	.del{
		margin-bottom: 50px;
		
	}
	.li{
		margin-bottom: 50px;
	}
	.contents{
		height: 500px;
		margin-top: 100px;
	
	}
 	.info-bt{
		height: 200px;
		border: 1px solid black;
		float: left;
	}
	.card-h{
		float: left;
		margin-left: 200px; 
		margin-top: 200px;
			
	}	
	.FAQ{
		width: 180px;
		font-size: 18;
		font-style: sans-serif;
		font-weight: 700;
		align-content: center;
			
	}
	.card-b{
		padding-left: 10px;
	}

    .bt-ho:hover{
		background-color: #7fad39;
    }
/* 	.noti-bt{
		float: right;
	} */
	 