<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	
  	<typeAliases>
  	<typeAlias type="com.thr.i1.notice.NoticeDAO" alias="NoticeDAO"/>
  	<typeAlias type="com.thr.i1.notice.NoticeDTO" alias="NoticeDTO"/>
  	<typeAlias type="com.thr.i1.notice.NotiFilesDTO" alias="NotiFilesDTO"/>
  
  	<typeAlias type="com.thr.i1.util.NoticePager" alias="NoticePager"/>
  	<typeAlias type="java.lang.Long" alias="Long"/>
  	
  	<typeAlias type="com.thr.i1.member.TuserDTO" alias="TuserDTO"/>
  	<typeAlias type="com.thr.i1.member.TuserDAO" alias="TuserDAO"/>
  	
  	<typeAlias type="com.thr.i1.cart.CartDTO" alias="CartDTO"/>
  	<typeAlias type="com.thr.i1.cart.OrderDTO" alias="OrderDTO"/>
  	<typeAlias type="java.lang.String" alias="String"/>
  	
  	<typeAlias type="com.thr.i1.product.ProductDTO" alias="ProductDTO"/>
  	<typeAlias type="java.lang.Long" alias="Long"/>
  	<typeAlias type="java.util.Map" alias="Map"/>
  	<typeAlias type="com.thr.i1.product.ProductCategoryDTO" alias="ProductCategoryDTO"/>
  	<typeAlias type="com.thr.i1.util.Pager" alias="Pager"/>
  	<typeAlias type="com.thr.i1.product.ProductFilesDTO" alias="ProductFilesDTO"/>
  	
  	<typeAlias type="com.thr.i1.util.Pager" alias="Pager"/>
  	
  	<typeAlias type="com.thr.i1.question.QuestionDTO" alias="QuestionDTO"/>
  	<typeAlias type="com.thr.i1.question.One_on_oneDTO" alias="One_on_oneDTO"/>
  	<typeAlias type="com.thr.i1.question.One_commentDTO" alias="One_commentDTO"/>
  	
  	<typeAlias type="java.util.List" alias="List"/>
  	<typeAlias type="com.thr.i1.review.ReviewDTO" alias="ReviewDTO"/>
  	<typeAlias type="com.thr.i1.review.ReviewFilesDTO" alias="ReviewFilesDTO"/>
  	<typeAlias type="java.lang.Double" alias="Double"/>
  
  	</typeAliases>
  
  
  </configuration>