<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.thr.i1.cart.CartDAO">
	<!-- 장바구니에 담기 -->
   	 <insert id="cartInsert" parameterType="CartDTO">
        insert into cart (cart_Id, id, num, product_Id, fileNum, Amount)
        values 
          (cart_seq.nextval, #{id}, #{num} #{product_Id}, #{FileNum}, #{amount} )
        
	  </insert>
	  
	  
	 <!-- 장바구니 리스트 -->
	 <!-- 카트번호, 제품번호, 회원아이디, 회원명, 상품명, 수량, 가격, 가격합계, 이미지파일명, 파일번호 -->
	 <!-- 조건: 회원테이블의 회원id = 장바구니테이블의 회원id 
	 and 장바구니테이블의 상품id = 상품테이블의 상품id 
	 and 장바구니테이블의 파일번호 = 파일테이블의 파일번호 
	 and 장바구니테이블의 회원id = 파라미터로 받은 회원id-->
	  <select id="cartList1" resultType="CartDTO" parameterType="String">
	  	select cart_Id, product_Id, num, id, name, product_Name
	  	, amount, price, (price*amount) money, fileName, fileNum
	  
	  	from cart c
	  	INNER JOIN tuser t
	  	USING(ID)
	  	INNER JOIN tuser t
	  	USING(NUM)
	  	INNER JOIN product p
	  	USING(PRODUCT_ID)
	  	INNER JOIN productFiles f
	  	USING(FILENUM)
	  	
	  	where c.id=#{userid}
	  	
	  	order by cart_Id desc
	  </select>
	  
	  <!-- 리스트 테스트용. 사용하지 않을 땐 id에 임의번호 붙여서 비활성화 시키기-->
	  <select id="cartList" resultType="CartDTO" parameterType="String">
	  	select *
	  	from cart
	  	where id=#{userid}
	  	order by cart_Id desc
	  </select>
	  
	  <!-- 장바구니 금액 합계 -->
	  <select id="sumMoney" resultType="_int" parameterType="String">
	  	select nvl(sum(price*amount),0)
	  	
	  	from cart c
	  	INNER JOIN product p
	  	USING(PRODUCT_ID)
	  	where c.id=#{userid}
	  	
	  </select>
	  
	  <!-- 장바구니 1개 삭제 -->
	  <delete id="deleteOne" parameterType="CartDTO">
	  	delete from cart
	  	where cart_Id=#{cart_Id}  
	  	AND id = #{id}
	  </delete>
	  
	  <!-- 장바구니 전체 삭제 -->
	  <delete id="deleteAll" parameterType="String">
	  	delete from cart
	  	where ID=#{userid} 
	  </delete>
	  
	  <!-- 장바구니 수량 수정 -->
	  <update id="update" parameterType="CartDTO">
	  	update cart 
	  	set amount=#{amount}
	  	where cart_Id=#{cart_Id} and id=#{id}
	  </update>
	  
	  <!-- 장바구니 추가 시 상품 중복 확인 -->
	  <select id="countCart" resultType="_int">
        SELECT COUNT(*)
        FROM cart
        WHERE id= #{user_Id} 
        AND product_id = #{product_Id}
 	   </select>
 	   
 	  <!-- 장바구니 상품 중복 시 수량 추가 -->
 	   <update id="addAmount">
 	   	UPDATE cart
 	   	SET amount=amount + #{amount}
 	   	WHERE id=#{id}
 	   	AND product_Id=#{product_Id}
 	   </update>
 	   
  </mapper>