<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.thr.i1.member.TuserDAO">
  	<!-- 로그인 체크 -->
  	<select id="login" resultType="TuserDTO">
  		SELECT id FROM tuser
  		WHERE id = #{id} AND pw = #{pw}
  	</select>
  	
  	<select id="idCheck" resultType="TuserDTO">
  		SELECT id FROM tuser
  		WHERE id = #{id}
  	</select>
  	
  	<!-- 로그인 정보 -->
  	<select id="memberView" resultType="TuserDTO">
  		SELECT
  		id, name, email, phone, address
  		FROM tuser
  		WHERE id = #{id} AND pw = {pw}
  	</select>
  
  
  	<!-- 회원 생성 -->
  	<insert id="setNew" parameterType="TuserDTO">
  		INSERT INTO Tuser
  		(num, id, pw, name, email, phone, address)
  		VALUES
  		(Tuser_SEQ.NEXTVAL, #{id}, #{pw}, #{name}, #{email}, #{phone}, #{address})
  	</insert>
  
  </mapper>